html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: white;
}

h1 {
    padding-top: 1%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Logo on the left button on the right*/
    padding-bottom: 1%;
}

.game-create-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.game-form-container {
    background-color: #FAF9F6;
    box-shadow: 0 4px 16px rgba(0,0,0,0.3);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: -30vh;
    height: 30rem;
    width: 30rem;
}

.game-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    font-size: large;
}

.game-form input,
.game-form select {
    height: 3rem;
    margin-bottom: 1.5rem;    /* space below each field */
}

.confirm-create {
    text-align: center;
    width: 100%;
    padding: 6%;
    background-color: #F88158;
    border-color: #F88158;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.3);
    cursor: pointer;
    font: inherit;
    margin-top: 10px;
}

